/* THIS IS THE CONTACT-US PAGE */
/*-------------------------------------- */

html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #DADAD2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* NAVIGATION BAR */

.nav-list {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #546A7B;
    box-shadow: 0px 0px 10px #A6C2C9;
    margin: 0;
    padding: 1rem 0;
    border-radius: 0.2rem;
    display: inline-flex;
    justify-content: center;
}

.nav-item {
    list-style: none;
    font-size: 1.5rem;
    float: left;
    margin: 0 .25rem;
}

.nav-item a {
    text-decoration: none;
    color: white;
    padding: 1rem 3rem;
}

.nav-item a:hover {
    color: black;
    text-decoration: underline;
    background-color: #A6C2C9;
    border-radius: 3%;
}

/* FORM FIELDS */

form {
    position: relative;
    top: 60px;
    z-index: 10;
    width: 100%;
    text-align: center;
    line-height: 30px;
    height: 100%;
    overflow: auto;
  }

form hr {
    width: 30%;
    margin: 2.5rem auto;
    border: 1px solid black;
}

input[type=text], input[type="tel"] {
    width: 35%;
    padding: 12px 20px;
    margin: 5px auto 25px;
    display: block;
    border-radius: 7.5px;
    box-sizing: border-box;
    border: 1px solid grey;
  }

form label {
    color: #475a69;
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: 3rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
    color: rgba(0, 0, 0, 0.596);
}

h3 {
    font-size: 1.5rem;
}

.reference {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
input[type="submit"] {
    margin-top: .75rem;
    margin-right: 40px;
    padding: .5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: #475a69;
    color: white;
}

input[type="submit"]:hover {
    color: black;
    text-decoration: underline;
    background-color: lightgray;
    cursor: pointer;
}

textarea {
    border-radius: 10px;
    margin-right: 50px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}