/* THIS IS THE HOME PAGE */
/*-------------------------------------- */

html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    background-color: #DADAD2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* NAVIGATION BAR */

.nav-list {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    background-repeat: no-repeat;
    margin: 0;
    padding: 1rem 0;
    border-radius: 0.2rem;
    display: inline-flex;
    justify-content: center;
}

.nav-item {
    list-style: none;
    font-size: 1.5rem;
    float: left;
    margin: 0 .25rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    padding: 1rem 3rem;
}

.nav-item a:hover {
    color: white;
    text-decoration: underline;
    background-color: black;
    border-radius: 3%;
}

/* MAIN BANNER */

.main-banner {
    height: 450px;
    width: 100%;
    background-image: url(/Resources/Project-Images/Barn-Sunset-modified.jpg);
    text-align: center;
}

.main-banner h1 {
    position: relative;
    margin: auto;
    width: 40%;
    top: 180px;
    font-size: 3rem;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.30);
    border-radius: 10px;
    color: black;
}

.main-banner a {
    position: relative;
    top: 210px;
    padding: .25rem .5rem;
    font-size: 1.2rem;
    border: 2px solid gray;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.main-banner a:hover {
    color: black;
    border: 1.5px solid white;
    text-decoration: underline;
    background-color: #4e6a80c0;
    cursor: pointer;
}

/* ABOUT FOUNDERS SECTION */

.about-container {
    margin-top: 0.75rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    text-align: center;
}

.image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90% 10%;
    height: 225px;
}

.left-side {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.right-side {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.middle {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

}

.name {
    grid-row: 2 / span 1;
    margin-top: 1.5rem;
}

.middle a {
    padding: .25rem .5rem;
    font-size: .75rem;
    border: 1.5 solid #475a69;
    text-decoration: none;
    border-radius: 3px;
    background-color: #475a69;
    color: white;
}

.middle a:hover {
    color: black;
    border: 1.5px solid #475a69;
    text-decoration: underline;
    background-color: white;
    cursor: pointer;
}

/* OUR SERVICES SECTION */

#services {
    position: relative;
    top: 1.5rem;
    padding-top: 1.25rem;
    text-align: center;
    background-color: white;
}

.services-container {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    text-align: center;
    background-color: white;
}

.see-more {
    color: red;
    font-size: .75rem;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0 .25rem;
    border: 2px solid gray;
    border-radius: 10px;
    color: black;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.see-more:hover {
    color: white;
    border: 1.5px solid black;
    background-color: black;
    cursor: pointer;
    background-image: none;
}

.more {
    display: none;
}

/* FOOTER */
footer {
    padding: .75rem 0;
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    height: fit-content;
}