/* THIS IS THE HOME PAGE */
/*-------------------------------------- */

html {
    font-size: 16px;
    margin: 0;
}


body {
    background-color: #f0f7f8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.header {
    height: 3rem;
    background-color: white;
    box-shadow: 0px 0px 10px #cfd8dc;
    margin: 0;
    border-radius: 0.2rem;
    display: inline-grid;
    width: 100%;
}

.header li {
    list-style: none;
    margin-top: 0%;
}

.nav-list {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid red;
    justify-content: center;
    align-content: center;
}

.nav-item {
    grid-column: 2 / span 2;
    border: 1px solid red;

}

.nav-item a {
    width: 16%;
}

ul li.nav-item:last-child {
    grid-column: 3 / span 1;
    border: 1px solid red;
    justify-self: center;
    align-items: center;
}

.nav-item a:hover {
    color: blue;
    text-decoration: underline;
}